.sidebar-wrapper {
  position: absolute;
}

.sidebar {
  background-color: #3d484e;
  color: white;
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  margin-left: -$sidebar-width;

  a {
    color: white;
    text-decoration: underline;
    font-size: 12px;
  }

  .icon {
    img {
      width: 20px;
      height: 20px;
    }
  }

  .links {
    padding: 15px;

    .link {
      padding: 3px 0;
    }
  }

  .header {
    background-color: #283136;
    width: 100%;
    height: 300px;

    .avatar {
      width: 150px;
      height: 180px;
      padding-top: 30px;
      margin-left: auto;
      margin-right: auto;
  
      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }
    }

    .name {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      padding-top: 25px;
    }

    .title {
      font-size: 16px;
      text-align: center;
    }
  }

  .nav-item {
    transition: 200ms;
    background-color: #3c5968;
    width: 100%;
    padding: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .nav-item:hover, .nav-item.active {
    background-color: #4c7184;
    width: 103%;
  }
}