.wall {
  padding: 10px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  .paginate {
    ul {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    li {
      display: inline-block;
    }
  
    .break a {
      cursor: default;
    }
  }
}

.wall-post {
  position: relative;
  padding: 10px;
  min-height: 60px;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  padding-right: 220px;

  .post-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 200px;
  }
}

.wall-create-post {
  margin-top: 50px;
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 10px;

  .preview {
    padding-top: 10px;
    color: #666;
    font-style: italic;
  }

  .wall-post {
    border: none;
  }
}