.wall-post {
  position: relative;
  padding: 10px;
  min-height: 60px;
  border-bottom: 1px solid #ccc;

  .post-buttons {
    position: absolute;
    right: 10px;
    top: 10px;

    input[type=textbox] {
      margin-right: 3px;
      width: 100px;
    }
  }
}